<!doctype html>
<html>
    <head>
        {{#if htmlWebpackPlugin.options.serverConfig}}
            <script id="clio-server-config" type="application/json">{{{htmlWebpackPlugin.options.serverConfig}}}</script>
        {{/if}}
        <script>
            __REACT_DEVTOOLS_GLOBAL_HOOK__ = parent.__REACT_DEVTOOLS_GLOBAL_HOOK__;
            window.onload = () => parent.React = window.React;
        </script>
    </head>
    <body>
        <div id="{{htmlWebpackPlugin.options.appName}}-container" class="clio-app-container">
            <div id="toolbar"></div>
            <div id="body">
                <h1>Hello Clio Next</h1>
                <div id="react-app"></div>
                <br>
                <div id="react-routed"></div>
            </div>
        </div>
    </body>
</html>