
body{
  font-family: Sans-Serif;

  &:after{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.15;
    width: 100%;
    height: 100%;
    background: url('./images/s-l1600.jpg');
    z-index: -10;
  }
}

#clio-next{
  padding: 1rem;
}

#toolbar{
  width: 100%;
  height: 3rem;
  top: 0;
  left: 0;
  position: fixed;
  background: #ccc;
  z-index: 100;
}

#body{
  position: absolute;
  top: 3rem;
  height: 2000px;
}





ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}






